@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
*{
    background-color: peachpuff;
}.x{
    width: 100%;
    height: 0px;
    display: table;
    text-align: center;
    
}.x h1{
    font-family: 'Playfair Display', serif;
    display: table-cell;
    vertical-align: top;
    font-size: 20px;
    color: black;
}.imcent{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;

}.im{
    width: 200px;
    overflow: hidden;
}